<?php
	query_posts('cat=8&orderby=date&order=desc&posts_per_page=4');
	echo '<ul class="alerts_widget">';
	if ( have_posts() ) : while ( have_posts() ) : the_post();
		$posttags = wp_get_post_terms( get_the_ID() , 'post_tag' , 'fields=names' );
		echo '<li class="wp-cpl ';
			if( $posttags ) echo implode( ' ' , $posttags );
			//echo the_tags('',' ','');
			//echo get_query_var('category_name');
		echo '">';
		echo '<a href="';
		the_permalink();
		echo '">';
		the_title('','');
		echo '</a><span class="wp-cpl-date">';
		the_date('M d');
		echo '</span><p>';
		echo excerpt(25);
		echo '<a class="read-more" href="';
		the_permalink();
		echo '"> READ MORE</a></p></li>';
	endwhile; else: endif;
	echo '</ul>';
?>
<p class="wp-cpl-read-more"><a class="cta" href="/news-alerts/" title="">See all Alerts</a></p>





<?php
	query_posts('cat=8&orderby=date&order=desc&posts_per_page=4');
	echo '<ul class="alerts_widget">';
	if ( have_posts() ) : while ( have_posts() ) : the_post();
		$posttags = wp_get_post_terms( get_the_ID() , 'post_tag' , 'fields=names' );
		$postDate =  get_the_date('M d'); 
		echo '<li class="wp-cpl ';
			if( $posttags ) echo implode( ' ' , $posttags );
			//echo the_tags('',' ','');
			//echo get_query_var('category_name');
		echo '">';
		echo '<a href="';
		the_permalink();
		echo '">';
		the_title('','');
		echo '</a><span class="wp-cpl-date">';
		echo $postDate;
		echo '</span><p>';
		echo excerpt(25);
		echo '<a class="read-more" href="';
		the_permalink();
		echo '"> READ MORE</a></p></li>';
	endwhile; else: endif;
	echo '</ul>';
?>
<p class="wp-cpl-read-more"><a class="cta" href="/news-alerts/" title="">See all Alerts</a></p>
