/*
Theme Name: required+ Starter
Description: Used to style the TinyMCE editor.
*/

/*
    Load the Google Fonts Daddy, we want them in our Editor!
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

html .mceContentBody {
    padding: 5px;
    max-width: 657px;
}

body { background: white; font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }

/* Links ---------------------- */
a { color: #e78f38; text-decoration: none; line-height: inherit; }

a:hover { color: #000; text-decoration: underline; }

a:focus { color: #2ba6cb; outline: none; }

p a, p a:visited { line-height: inherit; }

p {
    font-size: 12px;
    line-height: 1.55em;
    font-style: normal;
    margin-bottom: 7px;
    color: #000;
}
p.legal {
    color: #888888;
    font-size: 10px;
    line-height: 1em;
    font-style: italic;
    margin: 0px;
}

a.cta {
    padding: 4px 10px 0px 35px;
    height:28px;
    display: inline-block;
    font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    border-radius: 4px;
    margin: 0px 0px 10px;
    box-shadow: 0px 1px 1px 0px rgb( 0, 0, 0 );
    font-size: 13px;
    background: rgb(141,202,95);
    background: -moz-linear-gradient(top, rgb(141,202,95) 0%, rgb(117,178,71) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(141,202,95)), color-stop(100%,rgb(117,178,71)));
    background: -webkit-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
    background: -o-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
    background: -ms-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
    background: linear-gradient(to bottom, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dca5f', endColorstr='#75b247',GradientType=0 );
    position: relative;
}
a.bigcta {

}
a.cta:before{
    content: ' ';
    display: inline-block;
    width: 24px;
    height: 27px;
    /*background: transparent url(../images/sprite.png) 0px -26px no-repeat;*/
    margin: 0px;
    position: absolute;
    top: 1px;
    left: 5px;
}
a.overlay {
    
}
a.cta-overlay {
    
}

table.chartTable {

}
table.listTable {

}

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; direction: ltr; }

p { font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }

aside p { font-size: 13px; line-height: 1.35; font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h2.testimonial {
    font-size: 21px;
    font-weight: 200;
    font-style: italic;
}
p.testimonial {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

h3 { font-size: 27px; }

h4 { font-size: 26px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-weight: bold; background: #ffff99; }

/* Lists ---------------------- */
ul, ol { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
/*ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }
*/
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }

ul.arrowbullet, ul.bulletlist {
    color:#222;
}

ul.arrowbullet li, ul.bulletlist li {
    list-style-type: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.55em;
}
ul.arrowbullet li ul li{
    list-style-type: disc;
    font-weight: normal;
    font-size: 14px;
    margin-left: 15px;
}
ul.arrowbullet:before, ul.bulletlist li:before {
    width:24px;
    height:24px;
    content:' ';
    /*background-image: url(../images/sprite.png);*/
    background-repeat: no-repeat;
    background-position: -327px -49px;
    position: absolute;
    margin: 2px 0px 0px -30px;
}
.orangebox, ul.orangebox {
    height:100%;
    padding:10px;
    margin-right:10px;
    background-color:#e78f38;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}


/* Blockquotes ---------------------- */
blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }

blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 13px; color: #555555; border: none; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555555; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }

abbr { text-transform: none; }

/* Image Thumbnails ---------------------- */
.th { display: block; }
.th img { display: block; border: solid 4px #fff; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition-property: box-shadow; -moz-transition-property: box-shadow; -o-transition-property: box-shadow; transition-property: box-shadow; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; }
.th:hover img { -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); -moz-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); }

/* =Alignment
-------------------------------------------------------------- */

.alignleft {
    display: inline;
    float: left;
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
.alignright {
    display: inline;
    float: right;
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
.aligncenter {
    clear: both;
    display: block;
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}

/* =Images
-------------------------------------------------------------- */

img {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
img.size-full {
    width: auto/9; /* Prevent stretching of full-size images in IE8 */
}
img[class*="wp-image-"] {
    height: auto;
    max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
