/*
Theme Name: required+ Starter
Theme URI: http://themes.required.ch/
Author: required+ Team
Author URI: http://required.ch/
Description: Starter child theme for the required+ Foundation parent theme.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0.4
Template: required-foundation
Text Domain: requiredstarter
*/

/*
	Make the template work
*/
@import url(../required-foundation/style.css);
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#main-content a {
	color: #e78f38;
	text-decoration: underline;
}
#main-content h2 a {
	text-decoration: none;
}
#main-content a:hover {
	color: #000;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	margin: 2px 0px;
}
h4 {
	font-size:26px;
}
ul, ol, dl {
	line-height: 1.55em;
}
#secondary {
	width:960px;
	margin:0px auto;
	overflow:visible;
}
body.page-template-page-templatessecondary-product-page-php #content, body.page-child #content, body.page-parent #content, body.page-template-page-templatessecondary-newsalerts-page-php #content, body.page-template-page-templatessecondary-infonowidget-page-php #content, body #content {
	margin-bottom:19px;
	border-bottom:#e78f38 solid 22px;
	overflow:visible;
}
body.page-template-page-templatesblogarchive-php.page-child #content, body.error404 #content, body.page-template-page-templatesslideshow-template-php #content, body.page-template-page-templatesblogabout-php #content, body.page-template-page-templatessubmissionPage-php #content, body.page.page-template-page-templatesblogvideo-php #content, body.page-template-page-templateslp-template-one-php #content, body.page-template-page-templateslp-template-two-php #content {
	margin-bottom: 0px;
}
body.home #content, #content.fix, #content.form, body.error404 #content, body.page-template-page-templatesslideshow-template-php #content, body.page-template-page-templatestools-template-php #content {
	border-bottom:none;
	height:100%;
	overflow:initial;
}
#content.fix, body.page-template-page-templatessecondary-info-page-php #content, body.page-template-page-templatessecondary-newsalerts-page-php #content, body.page-template-page-templatessecondary-infonowidget-page-php #content, body.page-template-page-templatesauthor-php #content, body.archive #content, body.category #content, body.single #content, body.events-single #content {
	margin-bottom:0px;
	border-bottom:none;
	height:100%;
	overflow:initial;
}

body.page-template-page-templatessecondary-info-page-php #footer, body.page-template-page-templatessecondary-newsalerts-page-php #footer, body.page-template-page-templatessecondary-infonowidget-page-php #footer, body.page-template-page-templatesauthor-php #footer, body.archive #footer, body.category #footer, body.single #footer{
	/*position: fixed;
	top: 785px;*/
	z-index: 1000;
	border-top: #e78f38 solid 22px;
	position: relative;
	/*height: 100%;*/	
}
body.page-template-page-templatessecondary-info-page-php #footer, body.page-template-page-templatessecondary-infonowidget-page-php #footer {
	position: relative;
}
@media (min-height: 400px) and (max-height: 700px) {
		body.page-template-page-templatessecondary-info-page-php #footer, body.page-template-page-templatessecondary-newsalerts-page-php #footer, body.page-template-page-templatessecondary-infonowidget-page-php #footer, body.page-template-page-templatesauthor-php #footer, body.archive #footer, body.category #footer, body.single #footer{

		}
		#content.fix #mainvis {
			/*position:fixed;
			height:450px;	*/
		}
		#main.info-page {
			/*min-height: 450px;*/
		}
}

#site-title { font-weight: 600; }

.required-header .inline-list {
	margin-top: 14px;
}
