/*
Theme Name: required+ Foundation
Theme URI: http://themes.required.ch/
Author: required+ Team
Author URI: http://required.ch/
Description: The <a href="http://themes.required.ch" title="required+ Foundation parent theme">required+ Foundation</a> theme is a parent theme to speed up development. It's based on the awesome <a href="http://foundation.zurb.com/" title="Official ZURB Foundation website">foundation by ZURB</a>. It's built in a way that you can always update the foundation. We try to keep the theme updated to the latest version of foundation and WordPress.
Tags: zurb, foundation, grid, custom-menu, custom-header, custom-background, widgets, shortcodes, orbit-js, reveal-js, responsive
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0.10
Text Domain: requiredfoundation

This theme, like WordPress, is licensed under the GPL. Except for the parts from
Foundation that is licensed under MIT (http://www.opensource.org/licenses/mit-license.php).
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: General Stuff
:: Make foundation work with WordPress
*/
/* ---------------------------------------------------
   General Stuff
--------------------------------------------------- */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
abbr, acronym, dfn {
	cursor: help;
	border-bottom: 1px dotted #e6e6e6;
}
.alignleft{
	float: left;
	margin: 5px 15px 5px 0;
}
.alignright {
	float: right;
	margin: 5px 0 5px 15px;
}
.aligncenter {
	text-align: center;
}
.entry-meta,
.page-link {
	clear: both;
}

.nav-single {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	width: 50%;
	text-align: right;
}
div.attachment { text-align: center; }

.format-image .entry-meta h6,
.format-link .entry-meta h6,
.format-quote .entry-meta h6,
.format-status .entry-meta h6,
.sticky .entry-meta h6 { display: inline-block; }
.entry-meta .label { float: right; text-transform: uppercase; margin: 15px 0; font-style: italic; }

.format-status .entry-header img { float: left; margin: 5px 15px 0 0; }

.format-link .entry-content a {
	font-size: 22px;
	line-height: 1;
}

/* ---------------------------------------------------
   Make foundation work with WordPress
--------------------------------------------------- */



.post-box .row > .columns.left {
	margin-left: 0;
	margin-right: 0;
}
.row .entry-content > .columns.left {
	margin-left: 0;
	margin-right: 4.4%;
}
.row .entry-content > .columns.right {
	float: right;
	margin-left: 4.4%;
	margin-right: 0;
}
.row .entry-content > .columns br {
	font-size: 1%;
	line-height: 0;
}
#supplementary {
	padding-top: 20px;
}
#footer {
	padding-top: 15px;
}
footer > div.row:last-child {
	margin-top: 80px;
	border-top: solid 1px #E6E6E6;
	padding-top: 20px;
}
footer > div.row:first-child {
	margin-bottom: -80px;
	padding-top: 20px;
}
.required-header #searchform {
	float: right;
	margin-top: 14px;
}
.required-header input {
	float: left;
}
.required-header .header-img {
	display: block;
	margin: 30px 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #E6E6E6;
}
.entry-meta {
	font-size: 14px;
}
article footer.entry-meta {
	margin: 30px 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #E6E6E6;
}
article:last-child footer.entry-meta {
	border-bottom: none;
}
table {
	width: 100%;
}
ol.commentlist { margin-left: 0; }
.commentlist li { list-style: none; }
article.comment { margin: 30px 0; }
.comment-meta img { float: left; margin: 5px 10px 5px 0; }
#comment { min-height: 120px; }

.entry-content ul,
aside ul { margin-left: 17px; }

/* Make pagination work */
ul.page-numbers { display: block; height: 24px; margin-left: -5px; }
ul.page-numbers li {float: left; display: block; height: 24px; color: #999; font-size: 14px; margin-left: 5px; }
ul.page-numbers li a { display: block; padding: 1px 7px 1px; color: #555; }
ul.page-numbers li:hover a, ul.page-numbers li a:focus { background: #e6e6e6; }
ul.page-numbers li.unavailable a { cursor: default; color: #999; }
ul.page-numbers li.unavailable:hover a,ul.page-numbers li.unavailable a:focus { background: transparent; }
ul.page-numbers li span.current { background: #e78f38; color: #fff; font-weight: bold; cursor: default; display: block; padding: 1px 7px 1px; }

/* Off canvas layout stuff */
.off-canvas [role="main"]:before {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.js .off-canvas [role="main"] {
	background: transparent;
}
@media all and (min-width: 768px) {
	.js .off-canvas [role="complementary"] { width: 20%; margin-top: 14px; }
  	.js .off-canvas [role="main"] { width: 80%; }
}

@media handheld, only screen and (max-width: 767px) {
	.sidebar-menu { border-bottom: 1px solid #ddd; position: relative; }
	.off-canvas .menu-action { float: left; position: relative; top: 1px; margin-top: 0; padding-left: 15px; }
	.off-canvas .menu-action .button.small { padding: 8px; }
	.off-canvas .menu-action .button.small svg { opacity: 0.5; }
	.js .off-canvas [role="complementary"] { margin-top: 0; }
}

/* ---------------------------------------------------
   This is it, please consider using a child theme to
   customize this piece of code or you'll break your
   chance to use a painless update process.
--------------------------------------------------- */