/**
 * This app.css is all yours, if you wish to have it ready with your application put it in here!
 */
 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 body {
	background: #dfdfdf; 

 }
 body.page-template-page-templatessection-landing-php, body.page-template-page-templatesfinancial-education-php, body.page-template-page-templatessecondary-info-page-php, body.page-template-page-templatessecondary-newsalerts-page-php, body.page-template-page-templatessecondary-infonowidget-page-php, body.page-template-page-templatesauthor-php, body.archive, body.category, body.single, body.page-template-page-templatessecondary-locations-php, body.page-template-page-templateslp-template-one-php, body.page-template-page-templatesblogabout-php, body.page-template-page-templatessubmissionPage-php, body.page.page-template-page-templatesblogvideo-php {
 		background-color: #2f2f2f;
 }
 body.page-template-page-templatesslideshow-template-php {
 	background-color: transparent;
 }
 ul li ul, ul li ol {
	margin-left: 0px;
	margin-bottom: 0;
}
 header#nav-header {
	 z-index:100;
	 margin-top:23px;
	 margin-bottom: -156px;
	 min-width: 940px;
 }
#nav-header .columns {
	float:right;	
}
 .column, .columns {
	padding: 0px;
 }
.row header .row {
	 margin:0px;
 }
.green {
	color:#6ab23a;
}
p.legal {
	color: #888888 !important;
	font-size: 10px;
	line-height: 1em;
	font-style: italic;
	margin: 0px 0px 10px;
}
/* =============================================================================
   Header
   ========================================================================== */

.banner { 
	margin-top:24px;

}


/* ==========================================================================
   Navigation
   ========================================================================== */
   /* Main */
   .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	   -webkit-box-shadow:none;
		box-shadow:none;
		background:none;
		border:none;
   }

	/* Header*/
header.navbar .container {
	max-width: 940px;
	position:relative;
}	
.navbar .nav {
	float:right;
	margin:0px auto;
	
}
.navbar .brand {
	text-indent:-10000px;
	width: 194px;
	height: 101px;
	padding:0px;
	margin:0px;
	background: transparent url(/generations/assets/img/header-logo.png) no-repeat; /* Old browsers */
}

.nav-top {
	float:right;
}
.nav-top ul {
	list-style:none;
	list-style-type:none;
}
.nav-top ul li {
	float:left;	
	padding:0px 8px;
}
#searchform input[type="text"]{
	margin:0px -15px 0px 10px;
	width:125px;
	height:25px;
	border:none;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	color:#242424;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#searchform input[type="submit"]{
	width:12px;
	height:12px;
	text-align:left;
	text-indent:-10000px;
	background:transparent url(../images/sprite.png) bottom left no-repeat;
	border:none;
	margin: 6px 2px 0px 0px;
	padding:0px;
}
.silver-box {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(235,235,235) 50%, rgb(209,209,209) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(235,235,235)), color-stop(98%,rgb(209,209,209))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
nav#access {
	position: absolute;
	top: 47px;
	right: 0px;
	width: 740px;
}
#menu-primary-navigation {
	width: 740px;
}
.menu li {
	display: table-cell;
    height: 54px;
    line-height: 54px;	
}
.menu-primary-navigation-container {
	margin:0px;
}
.nav-bar>li, .menu>li {
	border:none;
}
.nav-bar, .menu {
	height: auto;
	background: transparent;
	margin: 0px;
}
.menu-primary-navigation-container ul li, ul.menu li {
	float:left;
	border-right:#EEEEEE solid thin;
	border-left:#B4B4B4 solid thin;
	display:block;
	vertical-align: middle;
	line-height:1em;
}
ul.sub-menu li {
	float:none;
	border:none;
}
.menu-primary-navigation-container ul li:first-child, ul.menu li:first-child {
	border-left:none;	
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}
.menu-primary-navigation-container ul li:last-child, ul.menu li:last-child {
	border-right:none;	
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}
ul.menu li:last-child {
	/*padding-right: 3px;*/
}
.menu-primary-navigation-container > li > a, .nav-bar>li>a, .nav-bar > li > a:first-child, .nav-bar > li.has-flyout > a:first-child, ul.menu li a { 
	padding: 20px 21px;
	vertical-align:middle;
	font-size:11px;
	text-transform:uppercase;
	color:#404040;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:bold;
	background:none;
	display:inline-block;
}
#menu-item-17 a span {
	text-transform:lowercase;	
}

ul.sub-menu {
	/*position:absolute;
	width:737px;
	height:100%;*/
	border: none;
	padding-top:10px;
	background: #ffd096; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd096 0%, #e08513 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd096), color-stop(100%,#e08513)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd096 0%,#e08513 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd096', endColorstr='#e08513',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	/*-moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
	box-shadow:         inset 0 0 5px rgba(0,0,0,.5);*/
   }
 .secondary-left-sidebar ul.sub-menu {
  	padding-top:0px;
  }

ul.sub-menu.sub .sub-menu {
	position:relative;
	width:auto;
	background:none;
	padding-top:0px;
	/*-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;*/
}
.sub-container.non-mega ul.sub-menu.sub {
	width:180px;
	padding: 20px 0px 45px;
}
.secondary-left-sidebar ul.sub-menu, .secondary-left-sidebar li.active ul.sub-menu a {
	background:#FFF;
}
.sub-menu.sub div.row {
	display: inline-block;
	margin: 10px 0px 5px;
	min-height: 100px;
	min-width: 175px !important;
	overflow: visible;
	vertical-align: top;
	position:relative;
	clear:none;
}
.sub-menu.sub div.row:after {
	content:' ';
	position:absolute;
	width: 1px;
	height: 90px;
	display:inline-block;
	border-right:#eed0aa solid thin;
	top: 6px;
	right: -4px;
	-webkit-box-shadow:  1px 1px 0px 0px rgba(208,126,23,1);
    box-shadow:  1px 1px 0px 0px rgba(208,126,23,1);
}

.sub-menu.sub div.row:nth-child(4):after, .sub-menu.sub div.row:nth-child(8):after, .sub-menu.sub div.row:nth-child(12):after/*, .sub-menu.sub div.row:first-child:after*/ {
	content:'';

	border-right:none !important;
	-webkit-box-shadow:  none;
    box-shadow: none;
}
ul.sub-menu li a { 
	height:auto !important;
	font-size: 11px;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:normal;
	background: none;
	border: none;
	color: #442b0b;
	padding: 0px 4px 4px 19px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height:1em;
	text-transform:none;
	display:block;
}
ul.sub-menu li a:hover {
	color:#FFF;
}
ul.sub-menu.sub li {
	height: auto !important;
	padding: 0px;
	margin: 4px 0px;
}
ul.sub-menu.sub li a {
	text-transform:uppercase;
	font-weight:bold;
}
ul.sub-menu.sub .sub-menu li a {
	font-weight:normal;
	text-transform:none;
	/*padding-left: 25px;*/
}
ul.sub-menu.sub li ul.sub-menu li {

}
ul.sub-menu.sub .sub-menu .sub-menu li a:before {
	content:'-';
}
.sub-container.mega {
	display:none;/**/
}

ul.menu li:hover .sub-container.mega {
	width: 740px !important;
	margin-top: -2px;
	display:block;
	position:absolute;
	top: 52px;
	/*min-height:265px;
	height:100%;*/
	overflow:auto;
}

ul.inline-list>li, ul.link-list>li {
	margin-left: 0px;
	float:none;
	display: inline-block;
}
ul#menu-footer-navigation.inline-list>li {
	padding-right: 10px;
}

ul.inline-list, ul.link-list {
	margin: 0px;
}
.menu-primary-navigation-container ul li:hover, ul.menu li:hover {
	color:#FFF;
	text-decoration:none;
}
 ul.menu li.mega-hover:hover {
 	background-color:#ffd096;
 }
.menu-primary-navigation-container ul.flyout ul li:hover, ul.sub-menu.sub li:hover, ul.sub-menu li:hover{
	background-color:transparent;
	color:#FFF;
}	
#menu-header-navigation {
	float: left;
}

ul#menu-header-navigation li a {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
	color: #FFF;
	font-size: 11px;
  	border-right:#FFF solid thin;
	margin:0px;
	padding:0px 10px;
}
ul#menu-header-navigation li a:hover {
	text-decoration:underline;
}

ul#menu-header-navigation li:last-child a {
	border-right:none;
}

.nav-bar > li.has-flyout > a.flyout-toggle, .nav-bar > li.has-flyout > a:first-child:after {
	display: none;
}
 .nav-bar>li .flyout {
	left: 0px;
	top: 54px;
	height:230px;
	width:565px;
	border: none;
	background: #ffd096; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd096 0%, #e08513 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd096), color-stop(100%,#e08513)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd096 0%,#e08513 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd096 0%,#e08513 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd096', endColorstr='#e08513',GradientType=0 ); /* IE6-9 */
}
ul.flyout li a, .nav-bar li ul li a {
	font-size: 11px;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: none;
	border: none;
	border-width: 0px;
	color: #442b0b;
	display: block;
	font-size: 14px;
	height: auto;
	line-height: 1;
	padding: 5px 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight:bold;
}
ul.flyout ul li a {
	font-weight:normal;
	font-size: 12px;
}
ul.flyout li, .nav-bar li ul li {
	border:none;
	min-height: 113px;
	float:left;
	display:inline-block;
	padding: 10px;
}
ul.flyout ul li, ul.flyout ul li a {
	
	display:block;
	min-height:initial;	
	padding:0px 0px 0px 5px;
}
#content {
	width:100%;
}


/* ===================================================================
	SHARED ITEMS
====================================================================== */
.social {
	display:block;
	overflow:auto;
}

.social a {
	text-align:left;
	float:left;
	text-indent:-10000px;
	overflow:hidden;
	width:35px;
	height:34px;
	background:transparent url(../images/sprite.png) no-repeat;
}
.social a.facebook {
	background-position: -36px -1px;	
}

.social a.twitter {
	background-position: -73px -1px;	
}

.social a.youtube {
	background-position: -110px -1px;	
}

.social a.facebook:hover {
	background-position: -36px -35px;	
}

.social a.twitter:hover {
	background-position: -73px -35px;	
}

.social a.youtube:hover {
	background-position: -110px -35px;	
}

ul.alerts_widget a, #main-content h2.alert {
	color:#000;
	font-weight:bold;	
}
#main-content h2.alert {
	font-size:12px;	
}
ul.alerts_widget {
	list-style: none;
	background: none;
	margin:0px;
	padding:0px;
}
ul.alerts_widget li span.wp-cpl-date, #main-content span.wp-cpl-date {
	background-color: #e47f32;
	width: 44px;
	height: 46px;
	text-align: center;
	color: #FFF;
	font-size: 16px !important;
	font-weight: 600;
	text-transform: uppercase;
	float: left;
	vertical-align: middle;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 7px 0px 0px 0px !important;
	line-height: 1em;
	margin: 0px 5px 8px 0px !important;
}
ul.alerts_widget li.lowalert span.wp-cpl-date, #main-content span.wp-cpl-date.lowalert {
	background-color: #6ab23a;
}
ul.alerts_widget li.highalert span.wp-cpl-date, #main-content span.wp-cpl-date.highalert {
	background-color: #d20707;
}
.alerts_widget p {
	margin-left: 49px;
}
	
 /* =============================================================================
   Footer
   ========================================================================== */
#footer {
	width:100%;
	padding:15px;
	background-color:#2f2f2f;	
	margin:0px auto;
	text-align:center;
}
#footer, #footer a {
	color:#828188;
	font-size:12px;
	
}
#Footer #legal-nav {
	padding:10px 0px;
}

#footer #legal-copy {
	width:600px;
	text-align:center;
	font-size:10px;
	margin:0px auto;
}

#footer #legal-logos {
	margin: 10px auto;
	text-indent: -10000px;
	overflow: hidden;
	width: 100%;
	height: 65px;
	background: transparent url(../images/legal_logos.png) top center no-repeat;
	text-align: center;

}






/************
	Homepage Hero
 **************/
#homeslide {
	z-index:0;
}
#homeslide.flexslider {
	background: transparent;
	border: 0px;
	position: relative;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	zoom: 1;
	margin-bottom:50px;
}
#homeslide li.slide {
	height:600px;	
	width:100%;
	overflow: hidden;
	background-size:cover;
	background-repeat:no-repeat;
	min-width:1100px;
	margin:0px auto;
}
@media (min-height: 400px) and (max-height: 700px) {
	#homeslide li.slide {
		height:450px;	
	}
}
#homeslide li.slide .calloutArea {
	width:940px;
	margin:0px auto;
	position:relative;
}

#homeslide .slide .callHolder {
	position:absolute;
	z-index:2;
	left:354px;
	top:178px;
}
#homeslide .slide .callout {
	border-radius: 5px;
	background: rgb( 239, 120, 23 );
	background: -moz-linear-gradient( 0deg, rgb( 239, 120, 23 ) 0%, rgb( 227, 183, 128 ) 100%);
	background: -webkit-linear-gradient( 0deg, rgb( 239, 120, 23 ) 0%, rgb( 227, 183, 128 ) 100%);
	opacity: 0.902;
	  -moz-box-shadow: inset -1px -1px 2px,rgba(0,0,0,0.65);
   -webkit-box-shadow: inset -1px -1px 2px,rgba(0,0,0,0.65);
   box-shadow: inset -1px -1px 2px rgba(0,0,0,0.65);
}
#homeslide .slide .callHolder.green .callout {
	background:#6ab23a;
	background: -webkit-linear-gradient(0deg,  rgba(92,145,53,0.9) 0%,rgba(106,178,52,0.9) 100%);
	background: -moz-linear-gradient(0deg,  rgba(92,145,53,0.9) 0%,rgba(106,178,52,0.9) 100%);
	background: -o-linear-gradient(0deg,  rgba(92,145,53,0.9) 0%,rgba(106,178,52,0.9) 100%);
	background: -ms-linear-gradient(0deg,  rgba(92,145,53,0.9) 0%,rgba(106,178,52,0.9) 100%);
	background: linear-gradient(0deg,  rgba(92,145,53,0.9) 0%,rgba(106,178,52,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65c9135', endColorstr='#e66ab234',GradientType=1 );
}
.callout p {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight:200;
  color:#FFF;
  padding:18px;
  font-size:26px;
  line-height:1.3em;
}
.callout p strong {
  font-weight:800;
}
a.cta, .slider-sidebar.widget-area a.cta, #promoslide a.cta, input[type="submit"].cta, a.bigcta, .callHolder.green a.cta {
	padding: 4px 10px 0px 35px;
	height:28px;
	display: inline-block;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	border-radius: 4px;
/*	padding:  4px 10px 3px 35px;
*/	margin: 0px 0px 10px;
	box-shadow: 0px 1px 1px 0px rgb( 0, 0, 0 );
	font-size: 13px;
	background: rgb(141,202,95);
	background: -moz-linear-gradient(top, rgb(141,202,95) 0%, rgb(117,178,71) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(141,202,95)), color-stop(100%,rgb(117,178,71)));
	background: -webkit-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: -o-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: -ms-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: linear-gradient(to bottom, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dca5f', endColorstr='#75b247',GradientType=0 );
	position: relative;
}
a.bigcta {
	font-size: 21px;
	padding: 12px 10px 30px 51px;
	margin:15px 0px;
} 
input[type="submit"].cta {
	padding: 0px 10px 0px 35px;
	border: none;
	font-weight: normal;
	margin: 0px 0px 10px;
}

div.row a.cta {
	/*padding: 7px 10px 8px 35px;*/

}
a.cta, #main-content a.cta, .ui-widget-content a.cta, .secondary-right-sidebar.widget-area a.cta{
	color: #FFF !important;
	text-decoration: none !important;
}

a.cta:before, .callHolder.green a.cta:before {
	content: ' ';
	display: inline-block;
	width: 24px;
	height: 27px;
	background: transparent url(../images/sprite.png) 0px -26px no-repeat;
	margin: 0px;
	position: absolute;
	top: 1px;
	left: 5px;

	/**/
}
a.bigcta:before{
	content: ' ';
	display: inline-block;
	width: 56px;
	height: 40px;
	background: transparent url(../images/sprite.png) -312px -74px no-repeat;
	margin: 0px;
	position: absolute;
	top: 2px;
	left: 5px;
}
a.cta:hover:before {
/*	background: transparent url(../images/aniarrow_green.gif?) top left no-repeat; 
*/}
input[type="submit"].cta:before {
	content: ' ';
	display: inline-block;
	width: 24px;
	height: 27px;
	background: transparent url(../images/sprite.png) 0px -26px no-repeat;
	margin: 0px;
	position: absolute;
	top: 1px;
	left: 5px;
}

.callHolder a.cta:before {
	background: transparent url(../images/sprite.png) 0px 0px no-repeat;
}

a.cta span {
/*	display: inline-block;
	width: 24px;
	height: 27px;
	background: transparent url(../images/sprite.png) 0px -26px no-repeat;
	margin: 0px;
	position: absolute;
	top: 1px;
	left: 5px;
*/}
.callHolder a.cta {
	background: #e48734; /* Old browsers */
	background: -moz-linear-gradient(top,  #e48734 0%, #cd701e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e48734), color-stop(100%,#cd701e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e48734 0%,#cd701e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e48734 0%,#cd701e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e48734 0%,#cd701e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e48734 0%,#cd701e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e48734', endColorstr='#cd701e',GradientType=0 ); /* IE6-9 */
}

.callHolder a.cta span{
	/*background: transparent url(../images/sprite.png) 0px 1px no-repeat;
	top: 3px;
	left: 6px;*/
}

/*a.cta {
    color: #FFF !important;
    text-decoration: none !important;
    padding: 8px 10px;
	display: inline-block;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	border-radius: 4px;
	margin: 0px 0px 10px;
    padding-left:35px;
	box-shadow: 0px 1px 1px 0px rgb( 0, 0, 0 );
	font-size: 13px;
	position: relative;
}
a.cta:before {
   	content: ' ';
	width: 24px;
    height:100%;
	margin: 0px 0px 0px 0px;
    display:inline-block;
    overflow:auto;
    z-index:10;
    position:absolute;
    top:0px;
    left:6px;
}
a.cta:before {
    	background: transparent url(../images/cta_arrow.png) right center no-repeat;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.cta:hover:before {
    	background: transparent url(../images/cta_arrow.png) left center no-repeat;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.cta {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	background: rgb(141,202,95);
	background: -moz-linear-gradient(top, rgb(141,202,95) 0%, rgb(117,178,71) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(141,202,95)), color-stop(100%,rgb(117,178,71)));
	background: -webkit-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: -o-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: -ms-linear-gradient(top, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	background: linear-gradient(to bottom, rgb(141,202,95) 0%,rgb(117,178,71) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dca5f', endColorstr='#75b247',GradientType=0 );
    
}
a.cta:hover {
	background: #e48734;
	background: -moz-linear-gradient(top,  #e48734 0%, #cd701e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e48734), color-stop(100%,#cd701e));
	background: -webkit-linear-gradient(top,  #e48734 0%,#cd701e 100%);
	background: -o-linear-gradient(top,  #e48734 0%,#cd701e 100%); 
	background: -ms-linear-gradient(top,  #e48734 0%,#cd701e 100%); 
	background: linear-gradient(to bottom,  #e48734 0%,#cd701e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e48734', endColorstr='#cd701e',GradientType=0 );
    background-position:
}
*/
#homeslide li.slide .imgHolder{
	position:absolute;
	min-width:1100px;
	width:100%;
	height:100%;
	z-index:1;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:visible;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#promoslide {
	width:462px;
	height:212px;
	margin: 0 0 20px;
}
#promoslide .slide{
	height:205px;
}
#promoslide.flexslider {
/*	width:462px;
	height:212px;
	margin: 0 0 20px;
*/
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
#slideshow.flexslider {
	width: 100%;
	margin: 0px auto;
	position: relative;
}
#slideshow.flexslider .slides > li {
	display:none;
}
#promoslide li.slide {
	height:205px;
}
#promoslide li.slide .imgHolder, .slide .imgHolder {
	position: relative;
	margin: 14px;
	width: 237px;
	height: 177px;
	display: inline-block;
	float: left;
}
#slideshow {
	padding-top:20px;
}
#slideshow .slide .imgHolder {
	margin: 0px auto;
	text-align: center;
	width: 100%;
	min-height: 523px;
}
#slideshow ul.flex-direction-nav {
	width:100%;
	position: absolute;
	top: 230px;
}
#slideshow ul.flex-direction-nav li {
	list-style-type: none;
	
	/*width: 40px;
	height: 50px;*/
	position: absolute;
}
#slideshow ul.flex-direction-nav li:hover {
	background: rgba(255,255,255,1);
}
#slideshow ul.flex-direction-nav li a{
	position: absolute;
	display: block;
	text-indent: -10000px;
	width: 40px;
	height: 49px;/**/
	background: transparent url(../images/sprite.png) -311px 0px no-repeat;
	text-align: center;
	position:absolute;
	padding:0px;
	margin: 0px;
}
#slideshow ul.flex-direction-nav li a:hover {
	background-color: #FFF;
}
#slideshow ul.flex-direction-nav li:nth-child(1) {
	left:0px;
}
#slideshow ul.flex-direction-nav li:nth-child(2) {
	right:40px;
}
#slideshow ul.flex-direction-nav li:nth-child(1) a{
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
#slideshow ul.flex-direction-nav li:nth-child(2) a{
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
#slideshow ul.flex-direction-nav li a.flex-prev {
	background-position: -271px 0px;
}
#promoslide li div.copy, #promoslide div div.copy {
	margin:14px;
}

.flex-control-nav li a, .flex-control-paging li a, .flex-control-paging li a.flex-active {
	width: 17px;
	height: 17px;
	background:transparent url(../images/bg_control_nav.png) no-repeat;
} 

.flex-control-paging li a.flex-active, .flex-control-paging li a.flex-active:hover, .flex-control-nav li a.active, .flex-control-nav li a.active:hover {
	background-position: 0 -36px;
}
.flex-control-nav li a:hover, .flex-control-paging li a:hover {
	background-position: 0 -18px;
}
.flex-control-nav {
	background-color: #e78f38;
	height: 22px;
	bottom: -22px;
}
#slideshow .flex-control-nav {
	display:none;
}
#slideshow ul.slides {
	overflow:auto;
}
#promoslide .flex-control-nav {
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-o-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	bottom: -26px;
	width: 462px;
	left: -4px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
}
.flex-control-nav li {
	padding: 3px 0px;
}
.flex-direction-nav li a.next {
	right: 0px;
}
.flex-direction-nav li a.prev {
	left:0px;
}
.flex-control-nav li {
	margin: 0 1px;
}
/*********** HOME PAGE ***************/

#main article {
	padding:0px 70px;
	margin-top:23px;	
}


/********** WIDGET STYLES ************/
#secondary aside {
	margin-bottom:20px;	
}
#secondary #column1-wrap{
    float: left;
    width: 100%;
}
#secondary #column1{

}
#secondary #column2{
    float: left;
    width: 500px;
    margin-left: -500px;
}
#secondary #clear{
    clear: both;
}

#secondary #execphp-2, #secondary #widget_tribe_widget_builder_137-2, #secondary #widget_tribe_widget_builder_111-2, #secondary #wp_category_post_list_itg-2, .map-widget {
	float:left;
	overflow:visible;
	display:block;
	width:485px;
	clear:left;
}
#secondary #wp_category_post_list_itg-2 a{
	display:inline;
	padding:0px !important;
	font-size: 21px;
	color:#242424;
	line-height:1em;
}
#secondary #wp_category_post_list_itg-2 .thumb_lay a {
	padding:0px !important;	
}
#secondary #wp_category_post_list_itg-2 a:hover{
	text-decoration:underline;
}

#secondary #widget_tribe_widget_builder_107-2, #secondary #wp_category_post_list_itg-3, #secondary #calendar-2, #secondary #widget_tribe_widget_builder_106-2, #secondary #widget_tribe_widget_builder_727-2, #secondary #execphp-4, #secondary #execphp-5  {
	float:right;
	width:385px;
	overflow:visible;
	display:block;
	clear:right;
}

.post-box {
	width: 940px;
	margin: 0px auto;
	position: relative;
}
.slider-sidebar.widget-area a {
	font-size:10px;
	color:#4b4b4b;
}

.slider-sidebar.widget-area {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	position:absolute;
	right:0px;
	top:128px;
	z-index:40;

}
.slider-sidebar aside h4.widget-title {
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 10px 0px 10px;
}
form#member-login {
	margin:0px auto;
}
form#member-login div.row {
	margin:5px 10px;
}
.row .row.forgot { 
	margin: -12px 10px 0px;
}

body.home .slider-sidebar.widget-area  a.cta, .widget-area a.cta, .section-landing-page section a.cta, .financialeducation-landing-page section a.cta {
	padding-top: 7px;
}
.widget_tribe_widget_builder_140 div.row a.cta {
	
}
.widget_tribe_widget_builder_140 div.row {
	margin: 5px 7px 0px;
}
.widget_tribe_widget_builder_140 div.row a {
	padding-right:7px;	
	display:inline-block;
	margin-bottom:5px;
}
.widget_tribe_widget_builder_140 div.row.links {
	margin-top: -4px;
	line-height: .5em;
}
.widget_tribe_widget_builder_140 div.row a:hover {
	text-decoration:underline;
}
.slider-sidebar aside input[type="text"] {
	font-size:12px;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#e78f38;
	width:134px;
	height:26px;
	color:#FFF;
	font-weight:bold;
	font-style:italic;
	letter-spacing:.1em;
	margin: 0px;
	padding: 4px;
}
#secondary aside p, #main.nonav-page #promoslide p {
	font-size: 12px;
	line-height: 1.55em;
	font-style: normal;
	margin-bottom: 7px;
	color:#000;
}
.wp-cpl-read-more a.cta{
	font-style: normal !important;
}
p.date {
 color:#6ab23a;	
}
#secondary aside.widget {
	display:inline-block;
	vertical-align:top;
}
aside.widget.widget_tribe_widget_builder_111, aside.widget.widget_tribe_widget_builder_107 {
	width:315px;	
}
aside.widget.widget_tribe_widget_builder_139, aside.widget.widget_tribe_widget_builder_140 {
	width:175px;	
	overflow:auto;
}
aside.widget.widget_tribe_widget_builder_139{
	margin-bottom: 6px;
	padding-bottom: 5px;
}
aside.widget.widget_tribe_widget_builder_140 {
}
input[type="checkbox"]/*, input[type="checkbox"]:checked:hover*/ {
	-webkit-appearance:none;
	width:17px;
	height:18px;
	background: transparent url(../images/sprite.png)-145px -1px no-repeat;
	vertical-align: middle;
	cursor: pointer;
	margin-top: -1px;
}
input[type="checkbox"]:checked/*, input[type="checkbox"]:hover*/ {
	background:transparent url(../images/sprite.png)-145px -21px no-repeat;
}
form#findLoc {
	margin:0px;
	padding:7px 10px;
	background-color:#cac8c8;
	width:382px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

}
#findLoc .row span {
	padding:0px 7px 0px 0px;	
}
#findLoc input[name="zip"] {
	margin: 7px 8px 0px 0px;
	font-style:italic;
	font-size:10px;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	width:92px;
	height: 30px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(68,68,68);
	background: -moz-linear-gradient(-45deg,  rgba(68,68,68,1) 0%, rgba(45,45,45,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(45,45,45,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(68,68,68,1) 0%,rgba(45,45,45,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(68,68,68,1) 0%,rgba(45,45,45,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(68,68,68,1) 0%,rgba(45,45,45,1) 100%);
	background: linear-gradient(135deg,  rgba(68,68,68,1) 0%,rgba(45,45,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#2d2d2d',GradientType=1 );
}

#secondary .wp-cpl-theme-0 li span.wp-thumb-overlay {
	background: transparent !important;
	border: none !important;
	margin: 0 10px 0 0 !important;
}
#secondary .wp-cpl-widget li {
	padding: 0px !important;
	margin: 0px !important;
 }
 aside.widget .row {
	width: initial;
	max-width: 100%;
	min-width: initial;
 }
 #main.info-page aside.widget {
	 margin:12px 12px 12px 17px;
	 padding: 0px;
 }
#main.info-page aside.widget .row {
	 margin:0px;
}
.secondary-right-sidebar.widget-area a, .secondary-right-sidebar.widget-area p a {
	color:#e78f38;
	text-decoration: underline;
}
.secondary-right-sidebar.widget-area a:hover, .secondary-right-sidebar.widget-area p a:hover {
	color:#000;
	text-decoration: none;
}
/***** EVENTS/CALENDAR WIDGET *****/
.eventlegend {
	margin-bottom:15px;
}
#eventlist {
	margin: -3px 0px 10px 0px;
	/*height: 115px;*/
	overflow: hidden;
	line-height: 1.15em;
}

#eventlist p{
	margin-top:0px;
	margin-bottom: 0px;
}
.eventlegend div {
	font-weight:bold;
	font-size:11px;
	display:inline-block;
	margin:0px 15px 0px 0px;	
}
#eventlist a {
	font-weight:bold;
	color:#e78f38;
	text-decoration: underline;
}
#eventlist a:hover {
	color:#222;
	text-decoration: none;
}
.eventlegend div span {
	display:inline-block;
	width:26px;
	height:24px;
	margin-right:7px;
	margin-bottom: -7px;
}
p.personalbanking, span.personalbanking, #secondary aside p.personalbanking, #secondary aside span.personalbanking {
	color:#e78f38;
}
p.student, #secondary aside p.student, span.student, #secondary aside span.student {
	color:#6ab23a;
}
p.businessbanking, #secondary aside p.businessbanking, span.businessbanking, #secondary aside span.businessbanking {
	color:#2f2f2f;
}

div.personal span, .highlight.personalbanking {
	background-color:#e78f38;
}
div.student span, .highlight.student {
	background-color:#6ab23a;
}
div.business span, .highlight.businessbanking {
	background-color:#2f2f2f;
}

.highlight.businessbanking.personalbanking.student {
	background: #FFF url(..images/highlight-personal-student-business.gif) top left no-repeat;
}
.highlight.businessbanking.student {
	background: #FFF url(..images/highlight-student-business.gif) top left no-repeat;
}
.highlight.businessbanking.personalbanking {
	background: #FFF url(..images/highlight-personal-business.gif) top left no-repeat;
}
.highlight.personalbanking.student {
	background: #FFF url(..images/highlight-personal-student.gif) top left no-repeat;
}
{
	background-size:cover cover;
}
#secondary #widget_tribe_widget_builder_727-2, #secondary #execphp-4 {
	width:382px;
	/*height:400px;*/
}
.whitebox {
/*#secondary #widget_tribe_widget_builder_727-2 .whitebox {*/
	height:100%;
	padding:10px;
	margin-right:10px;
	background-color:#FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:  5px 5px 8px 0px rgba(0, 0, 0, .3);
    box-shadow:  5px 5px 8px 0px rgba(0, 0, 0, .3);
}
.orangebox {
	height:100%;
	padding:10px;
	margin-right:10px;
	background-color:#e78f38;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	/*	-webkit-box-shadow:  5px 5px 8px 0px rgba(0, 0, 0, .3);
	    box-shadow:  5px 5px 8px 0px rgba(0, 0, 0, .3);
	*/
}
#secondary #widget_tribe_widget_builder_727-2 .whitebox {
	height:auto;
}
.ui-datepicker {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
}
.ui-widget-header{
	background: none;
	border: none;
}
.ui-datepicker .ui-datepicker-header {
	padding:5px 0px 10px;
}
table.ui-datepicker-calendar thead , .ui-datepicker th {
	background:none;
	font-size:12px;
	padding: 0px;
	text-align: center;
	font-weight: normal;
	border: 0;
}
table.ui-datepicker-calendar {
	border:none;
}
.ui-datepicker-calendar td {
	border: 1px solid #1e1e1e;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	background: none;
	font-size:18px;
	font-weight: normal;
	color: #000;
}
.ui-datepicker table {
	height: 210px;
}

table tbody tr td {
	vertical-align: top;
}
.ui-datepicker td span, .ui-datepicker td a {
	text-align: center;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 0px;
	width: 25px;
	height: 21px;
	background: transparent url(../images/sprite.png) -246px -51px no-repeat;
	cursor:pointer;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: none;
	font-weight: normal;
	color: #212121;
}
.ui-datepicker .ui-datepicker-prev{
	background-position:-219px -51px;	
	left: 291px;
}
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: none;
}
.ui-datepicker-title {
	font-size:21px;
	color:#888;
}
.ui-widget-header .ui-icon {
		
	/*background-image: url(images/ui-icons_222222_256x240.png); */
}
#main.financialeducation-landing-page .whitebox h2, #main.financialeducation-landing-page .whitebox p, #main #eventscalendar .whitebox p, #main #eventscalendar .whitebox h2 {
	color:#414040;
}
#main #eventscalendar .whitebox {
	overflow:auto;
}
#main.financialeducation-landing-page #finedcalendar, #main #eventscalendar {
	margin-bottom: 15px;
}
#main.financialeducation-landing-page .whitebox .evtholder h2 {

}
#main.financialeducation-landing-page .whitebox p{
	font-size:12px;
}
#main #eventscalendar .whitebox p {
	font-size:12px;
	line-height: 1.55em;
}
.tribe-events-events .tribe-events-event-list-meta {
	float:none;
	border:none;
	width:auto;
	padding:0px;
}
.events-archive .tribe-events-event-entry {
	width:auto;
}
.events-archive .event-day, .single-tribe_venue .event-day, .venue-events .event-day {
	font-size: 14px;
	margin: 5px 0px !important;
	font-style: normal;
	font-weight: bold;
}

.financialeducation-landing-page .calholder, #eventscalendar .calholder {
	float:right;
	width: 355px;
	margin-right: 25px;

}
#main .evtholder {
	width:500px;
	display:inline-block;
}
#main .evtholder .events{
	padding-top:31px;
 	width:445px;
 	height:230px;
 	overflow-y:auto;
 }
 #main #eventscalendar .evtholder, #main #eventscalendar .evtholder .events {
 	width:auto;
 	height:auto;
 }
 #main.info-page.events .evtholder .events {
 	padding-top:0px;
 	height:auto;
 	overflow:visible;
 }
.financialeducation-landing-page .calholder .ui-datepicker .ui-datepicker-prev, .financialeducation-landing-page .calholder .ui-datepicker .ui-datepicker-next {
	top: 11px;
}
.calholder, #main .ui-datepicker table {
	/*width:355px;*/	
}
#finedcalendar {
	width: 938px;
	height:320px;
}
#main .ui-datepicker table tr, #main .ui-datepicker table tr:nth-of-type(even) {
	background:none;
}

.highlight.student a, .highlight.personalbanking a, .highlight.businessbanking a {
	color:#FFF;
}

/*EVENTS PAGE*/
#eventscalendar #eventlist .post {
	padding-bottom:15px;
}

#eventscalendar #eventlist .post a{
	color:#e18717;
	text-decoration: underline;
}
#eventscalendar #eventlist .post a:hover{
	color:#222;
	text-decoration: none;
}
#eventscalendar #eventlist .post p{
	font-size: 12px;
	line-height: 1.55em;
	font-weight: normal;
	margin-bottom: 7px;
	color: #000;
}
#eventscalendar .eventlegend div {
	margin: 5px 0px 15px 3px;
}
.singleevent {
	padding:0px 0px 10px;
}
/********** PRODUCT PAGE STYLES ************/

/*#main.product-page h2, #main.product-page p, .breadcrumbs, .breadcrumbs a { */
#main h2, #main p, .breadcrumbs, .breadcrumbs a {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#FFF;
	font-size:21px;
	line-height:1.15em;
}
#main h2 {
	margin-bottom: 0px;
}
.breadcrumbs, .breadcrumbs a {
	font-size:12px;
	padding-bottom: 8px;
}

#mainvis {
	position:absolute;
	height:100%;
	clear:none;
	z-index:0;	
	width:100%;
	overflow: visible;
	background-size:cover;
	background-repeat:no-repeat;
	min-width:1100px;
	margin:0px auto;
}
#main.nonav-page #mainvis, #main.writeareview #mainvis,  #main #mainvis.fullgradient{
	background: rgb(86,112,152);
	background: -moz-linear-gradient(top,  rgba(86,112,152,1) 0%, rgba(86,112,152,1) 40%, rgba(142,172,206,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,112,152,1)), color-stop(40%,rgba(86,112,152,1)), color-stop(100%,rgba(142,172,206,1)));
	background: -webkit-linear-gradient(top,  rgba(86,112,152,1) 0%,rgba(86,112,152,1) 40%,rgba(142,172,206,1) 100%);
	background: -o-linear-gradient(top,  rgba(86,112,152,1) 0%,rgba(86,112,152,1) 40%,rgba(142,172,206,1) 100%);
	background: -ms-linear-gradient(top,  rgba(86,112,152,1) 0%,rgba(86,112,152,1) 40%,rgba(142,172,206,1) 100%);
	background: linear-gradient(to bottom,  rgba(86,112,152,1) 0%,rgba(86,112,152,1) 40%,rgba(142,172,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567098', endColorstr='#8eacce',GradientType=0 );

}
#main.product-page .post-box, #main.section-landing-page .post-box, #main.info-page .post-box, #main.financialeducation-landing-page .post-box, #main.nonav-page .post-box {
	margin: 135px auto 50px;
	z-index:10;
}
#main.nonav-page .post-box .entry-content {
	width:500px;
	margin-top: 20px;
	float: left;
	overflow: auto;
}
#main.nonav-page.template-two .post-box .entry-content {
	width: 100%;
}
#main.info-page .post-box {
	overflow: auto;
}
#main.info-page.writeareview .post-box {
	overflow: visible;
}
#main .secondary-left-sidebar, #main .secondary-right-sidebar {
	float:left;
	display:inline-block;
	margin-right:3px;
	vertical-align:top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.secondary-left-sidebar {
	background: rgb(214,214,214);
	background: -moz-linear-gradient(top,  rgb(214,214,214) 0%, rgb(224,224,224) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(214,214,214)), color-stop(100%,rgb(224,224,224)));
	background: -webkit-linear-gradient(top,  rgb(214,214,214) 0%,rgb(224,224,224) 100%);
	background: -o-linear-gradient(top,  rgb(214,214,214) 0%,rgb(224,224,224) 100%);
	background: -ms-linear-gradient(top,  rgb(214,214,214) 0%,rgb(224,224,224) 100%);
	background: linear-gradient(to bottom,  rgb(214,214,214) 0%,rgb(224,224,224) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#e0e0e0',GradientType=0 );

}
#main.info-page ul.secondary-left-sidebar {
	background-color:#dfdfdf;
}

.secondary-left-sidebar li {
	display:block;
	list-style-type:none;
	text-align:left;
	border-bottom:#8b8b8a 1px solid;
	border-top: #FFF 1px solid;
}
.secondary-left-sidebar li a{
	/*background: #FFF;*/	
}
.secondary-left-sidebar li.current-cat a, .secondary-left-sidebar li.current_page_ancestor.current_page_parent a, .secondary-left-sidebar li.current_page_item.active a, .secondary-left-sidebar li.current-menu-item a{
	background: #fcc98a;
	background: -moz-linear-gradient(top,  #fcc98a 0%, #e2891b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc98a), color-stop(100%,#e2891b));
	background: -webkit-linear-gradient(top,  #fcc98a 0%,#e2891b 100%);
	background: -o-linear-gradient(top,  #fcc98a 0%,#e2891b 100%);
	background: -ms-linear-gradient(top,  #fcc98a 0%,#e2891b 100%);
	background: linear-gradient(to bottom,  #fcc98a 0%,#e2891b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc98a', endColorstr='#e2891b',GradientType=0 );
}
.secondary-left-sidebar ul.sub-menu li.current_page_item.active a, .secondary-left-sidebar ul.children li.current_page_item.active a {
	background: #fcc98a;
}
.secondary-left-sidebar li ul.children, .secondary-left-sidebar ul.sub-menu {
	display:none;
}
.secondary-left-sidebar li.active ul.children, .secondary-left-sidebar li.active ul.sub-menu {
	display:block;
}
.secondary-left-sidebar ul.sub-menu li{
	border-top:#8b8b8a 1px solid;
}

.secondary-left-sidebar ul.children li, .secondary-left-sidebar ul.sub-menu li{
	background-color:#f9f7f7;
}
.secondary-left-sidebar li:first-child {
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border-top:none;
}
.secondary-left-sidebar li:last-child {
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	border-bottom:none;
}
.secondary-left-sidebar li a, .secondary-left-sidebar li.current_page_item ul.children a, .secondary-left-sidebar li.current_page_item ul.sub-menu li a{
	display:block;
	font-size:11px;
	font-family: "proxima-nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#000;	
	text-transform:none;
	font-weight:normal;
	padding: 8px 0px 8px 15px;
	line-height: 1.55em;
}

#main.info-page .secondary-left-sidebar li a {
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 0px 8px 10px;
	color:#414040;

}
.secondary-left-sidebar li a:hover, #main.info-page .secondary-left-sidebar li.menu-item ul.sub-menu li.page_item a:hover, #main.info-page .secondary-left-sidebar li.menu-item ul.sub-menu li.menu-item.active a, #main.info-page .secondary-left-sidebar li.menu-item ul.sub-menu li.menu-item a:hover{
	background-color:#f5b76b;
}
.secondary-left-sidebar li.active ul.sub-menu a:hover {
	
}

.secondary-left-sidebar li.current_page_item a:hover{
	background-color:transparent;
}
.secondary-left-sidebar li.page_item a{
	text-transform:uppercase;
	font-weight:bold;
	padding: 8px 0px 8px 5px;
	color: #555555;
}
.secondary-left-sidebar li.page_item:hover a{
	color:#5a3910;
}
.secondary-left-sidebar li.page_item ul.children li.page_item a, #main.info-page .secondary-left-sidebar li.menu-item ul.sub-menu li.page_item a, #main.info-page .secondary-left-sidebar li.menu-item ul.sub-menu li.menu-item a {
	background: transparent;
	font-weight:normal;
	text-transform:none;
	padding: 8px 0px 8px 15px;
	color:#2f2f2f;
}
.secondary-left-sidebar li.page_item ul.children li.page_item:hover a, .secondary-left-sidebar li.page_item ul.children li.page_item.current_page_item a, #main.info-page .secondary-left-sidebar li.page_item ul.sub-menu li.page_item:hover a, #main.info-page .secondary-left-sidebar li.page_item ul.sub-menu li.page_item.current_page_item a {
	background: #f5b76b;
}
.secondary-left-sidebar li:first-child a{
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
.secondary-left-sidebar ul.children li:first-child a, .secondary-left-sidebar li:last-child a, .secondary-left-sidebar li.active:last-child a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.secondary-left-sidebar ul.children li:last-child li:last-child a, .secondary-left-sidebar li:last-child a{
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3pxx;
	border-radius: 0px 0px 3px 3px;
}
.secondary-left-sidebar li.active a {
	color:#5a3910;
}


.secondary-left-sidebar li.current_page_item ul.children a, .secondary-left-sidebar li.active ul.children a, .secondary-left-sidebar li.active.current_page_item ul.children a  {
	text-transform:none;
	font-weight:normal;
}


/**** SECONDARY/TAB AREA STYLES *******/

#main #tabs, #main.rates #main-content{
	float:left;
	display:inline-block;
	/*visibility:hidden;*/
	vertical-align:top;
	width:690px;
	height:432px;
	background: rgba(255,255,255,.95);
	border:none;
	margin:37px 3px 45px 0px;
	-webkit-border-radius: 0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
	border-radius: 0px 3px 3px 3px;
}
body.page-template-page-templatesrates-page-php #main #tabs, #main.rates #main-content {
	margin:0px 3px 45px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ui-widget-content a {
	text-decoration: underline;
	color:#e18717;
}
.ui-widget-content a:hover {
	text-decoration: none;
	color:#000;
}
#main #main-content{
	background: rgba(255,255,255,.95);
	border:none;
	float:left;
	display:inline-block;
	vertical-align:top;
	width:593px;
	min-height: 500px;
	margin:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#main.rates #main-content {
	min-height:initial;
	height: auto;
}
#main.info-page #main-content{
	margin-right: -2px;
	z-index: 10;
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, .5);
    box-shadow:  2px 5px 10px 0px rgba(0, 0, 0, .5);
	position: relative;
}
#main.rates #main-content {
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, .5);
    box-shadow:  2px 5px 10px 0px rgba(0, 0, 0, .5);
}
#main #main-content .section {
	padding:15px 24px;	
	overflow: auto;
}
#main #tabs p, #main #main-content p, #main #main-content li, #main #tabs li, .toggleDiv {
	 color:#000;
	 font-size:12px;
	 line-height: 1.55em;	
}
#main #tabs p {
	margin-top:2px;
}
#main #tabs.ui-tabs .ui-tabs-panel h2, #main #tabs.ui-tabs .ui-tabs-panel p, #main #tabs.ui-tabs .ui-tabs-panel ul li, a.show_hide, #main.rates #main-content p, #main.rates #main-content h2 {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* FAQ Toggle */
a.show_hide {
	color:#e78f38;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin-left:22px;
	white-space: pre;
	word-wrap:break-word;
}
pre.faq {
	position:relative;
	padding: 4px 0px 10px;
	white-space: pre;
}
a.show_hide:before {
	content: ' ';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent url(../images/sprite.png) -219px -19px no-repeat;
	position: absolute;
	left: 0px;
	text-transform:uppercase;
	padding: 3px;
	top: 1px;
}
a.show_hide.active:before {
	background-position: -219px 0px;
}
.toggleDiv {
	margin-left:37px;
}
#main #tabs .ui-widget-header {
	border: none;
	background: none;
	color: #000;
	font-weight: bold;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position:absolute;
	top:0px;
	left:0px;
	margin:-38px 0px 0px;
	padding: 0px;
}
#main #tabs .ui-state-default, #main #tabs .ui-widget-content .ui-state-default, #main #tabs .ui-widget-header .ui-state-default {
	border: none;
	background: rgba(255,255,255,.70);
	font-weight: bold;
	font-size:12px;
	color: #000;
}
#main.product-page #tabs.wmenubar, #main.rates #main-content {
	width:530px;
}
#tabs.ui-tabs {
	padding:0px;
	margin:0px;
}
#main #tabs.ui-tabs .ui-tabs-nav li {
	border:none;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	line-height:15px;
}
#main #tabs.ui-tabs .ui-tabs-nav li:focus, #main #tabs.ui-tabs .ui-tabs-nav li a:focus {
	outline: none;
	}
	
#main #tabs.ui-tabs .ui-tabs-nav li a {
	text-transform:uppercase;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:bold;
	font-size: 11px;
	padding: 10px 10px;
}

#main #tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0px;
	padding-bottom: 2px;
	background: rgba(255,255,255,.95);
}
#main #tabs.ui-tabs .ui-tabs-panel, #main.rates #main-content .single-tab {
	padding: 0px 25px 0px 0px;
	margin: 11px 5px 15px 12px;
	height: 400px;
	overflow-y: auto;
	display:none;
}
#main.rates #main-content .single-tab {
	height: auto;
	overflow-y: visible;
}

body.page-template-page-templatesrates-page-php #main #tabs.ui-tabs .ui-tabs-panel, #main.rates #main-content .single-tab {
	display:block;
}
#main #tabs.ui-tabs .ui-tabs-panel h2, #main-content h2 {
	color:#e18717;
	/*font-size: 21px;*/
	font-size: 16px;
	font-weight:bold;	
	padding-bottom: 2px;
}
#main-content .section .copy h2 {
	padding-bottom:0px;
}
#main-content .contributors .section .copy h2 {
	padding-bottom: 8px;
}
#main #tabs.ui-tabs .ui-tabs-panel h2 {
	/*padding: 0px 0px 5px;*/
	padding: 0px;
	margin-top: 0px;
}
#main #tabs.ui-tabs .ui-tabs-panel ul li, #main.rates #main-content ul li {
	margin: 0px 0px 0px 24px;
}
#main.product-page #promoslide .flex-control-nav, #main.info-page #promoslide .flex-control-nav {
	width: 243px;
}
#main.product-page #promoslide li.slide .imgHolder, #main.info-page #promoslide li.slide .imgHolder {
	position: relative;
	margin: 0px;
	width: 237px;
	height: 170px;
}

/********** SECONDARY PAGE SIDEBAR STYLES ************/
#main .secondary-left-sidebar {
	width:158px;
	margin-top:0px;
}
#main.product-page .secondary-right-sidebar {
	width:243px;
	margin-top: 37px;
}
body.page-template-page-templatesrates-page-php #main.product-page .secondary-right-sidebar {
	margin-top:0px;
}
#main.info-page .secondary-right-sidebar {
	width:185px;
	z-index: 1000;
	position: relative;
	margin:27px 0px 0px 2px;
	display: inline-block;
/*	top: 27px;
	right: -185px;
*/
	background: rgba(255,255,255,.95);
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	-webkit-box-shadow: inset 10px 0px 7px -4px rgba(0, 0, 0, .5);
	box-shadow: inset 10px 0px 7px -4px rgba(0, 0, 0, .5);
}
/*#main.info-page .secondary-right-sidebar {*/
#main.info-page #main-content:after {
	/*position: absolute;
	display: inline-block;
	content: ' ';
	width: 185px;
	top: 27px;
	right: -185px;
	background: rgba(255,255,255,.95);
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	-webkit-box-shadow: inset 10px 0px 7px -4px rgba(0, 0, 0, .5);
	box-shadow: inset 10px 0px 7px -4px rgba(0, 0, 0, .5);
	min-height: 455px;
	height: 90%;*/
}
#main #main-content.nowidget:after {
	display:none;	
}
#main #main-content.nowidget {
	width:779px;
	margin: 0px 0px 30px 0px;	
}
#main #main-content.nonav {
	width:751px;
	margin: 0px 0px 30px 0px;	
}
#main.writeareview #main-content.nonav {
	width:940px;
	margin: 0px 0px 30px;	
}
#main.info-page.about #main-content.nonav, #main.info-page.writeareview #main-content.nonav {
	margin: 0px -2px 30px 0px;	
	padding: 15px 24px;
}
#main .secondary-right-sidebar #promoslide.flexslider {
	width: 243px;
	height: 270px;
	margin: 0px;
}

#main .secondary-right-sidebar.widget-area p, #main .secondary-right-sidebar.widget-area h4{
	color:#000;
}
h4.widget-title {
	padding-bottom: 5px;
}
.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344, .secondary-right-sidebar.widget-area .widget {
	background-color:#FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height:1em;
	padding: 10px 14px 14px 14px;
	margin: 0px 0px 3px;
}
.page-template-page-templatessecondary-info-page-php .secondary-right-sidebar.widget-area .widget, .page-template-page-templatessecondary-newsalerts-page-php .secondary-right-sidebar.widget-area .widget, .page-template-page-templatesauthor-php .secondary-right-sidebar.widget-area .widget, .page-template-page-templatesblogarchive-php .secondary-right-sidebar.widget-area .widget, body.archive.category .secondary-right-sidebar.widget-area .widget, #main.info-page .secondary-right-sidebar.widget-area .widget{
	background-color:transparent;
}
#execphp-3.widget.widget_execphp {
	padding:0px;
}
.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul, .secondary-right-sidebar.widget-area .widget ul {
	line-height:1em;
	padding:0px;
	margin:0px;
	
}
.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul li, .secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul li a, .secondary-right-sidebar.widget-area .widget ul li, ul.org-arr li a,  #main.info-page .secondary-right-sidebar.widget-area li, #main.info-page .secondary-right-sidebar.widget-area p, #main.info-page ul.bulletlist li {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	display:block;
	font-style:normal;
	font-size: 12px;
	line-height: 1.7em;
	color:#000;
}
#main.info-page ul.bulletlist li {
	font-weight: normal;
}

#main.info-page ul.bulletlist li:before {
	margin:0px;
	background: none;

}
.secondary-right-sidebar.widget-area .widget .flexslider .slides > li {
	display:none;
}
#main.info-page .secondary-right-sidebar.widget-area p {
	line-height: 1.55em;
	margin: 2px 0px 5px;
}
#main #tabs.ui-tabs ul.org-arr li {
	margin: 4px 0px 4px 0px;
	padding-bottom: 6px;
}
.ui-widget-content {
	border:none;
}

.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul li a:hover, ul.org-arr li a:hover{
	text-decoration:underline;
}
.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul, ul.org-arr, .secondary-right-sidebar.widget-area .widget .marketoform ul, .marketoform ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.secondary-right-sidebar.widget-area .widget.widget_tribe_widget_builder_344 ul li, .secondary-right-sidebar.widget-area aside.widget ul li, ul.org-arr li, #main.info-page ul.bulletlist li {
	background-image: url(../images/list_bullet.png);
	background-repeat: no-repeat;
	padding-left: 19px;
	background-position: 1px 2px;
}
.secondary-right-sidebar.widget-area aside.widget .flexslider ul.slides li, .secondary-right-sidebar.widget-area .widget .marketoform ul li{
	background-image: none;
	padding-left: 0px;
}
.secondary-right-sidebar.widget-area aside.widget li a {
	color:#e18717;
	text-decoration: underline;
}
aside.widget .flexslider ul.slides li a, .marketoform li a{
	text-decoration: none;
}
.secondary-right-sidebar.widget-area aside.widget li a:hover {
	color:#000;
	text-decoration: none;
}
#main .secondary-right-sidebar.widget-area h4{
	display: inline-block;
	/*font-size: 21px;*/
	font-size: 16px;
	line-height: 1.15em;
	font-style:normal;
	margin:0px;
	padding:0px;
}
#main.product-page .secondary-right-sidebar.widget-area p{
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	margin: 4px 0px;
	line-height: 1.55em;
}
.secondary-right-sidebar.widget-area #promoslide li div.copy {
	margin: 5px;
	display: inline-block;
}
.secondary-right-sidebar.widget-area #promoslide li div.copy p{
	padding: 0px 0px 5px;
	margin: 0px;
	line-height: 1em;
}

/********** SCROLLBAR **********/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
	background-color:#e9e9e9;
	border:#B6B6B6 1px solid;
}
 
::-webkit-scrollbar-thumb {
	background:#e78f38 url(../images/grip.png) center center no-repeat;
	width:12px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3); 
	overflow:hidden;
    border-radius: 10px;
}

/********** RATES AND COMPARISON TABLES ************/

#main #tabs.ui-tabs .ui-tabs-panel table ul li, #main.rates #main-content table ul li, #main.nonav-page table ul li {
	margin:0px;
}
.ui-widget table, #main #tabs table, table.chartTable, #main.rates #main-content table, #main.nonav-page table{
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	}
#main #tabs table, #main.rates #main-content table, #main.nonav-page table {
	width: 480px;
	background: none;
	margin: 5px auto 17px;
	padding: 0px;
	border-spacing: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
#main.rates #main-content table, #main.nonav-page table {
	margin: 5px 0px 17px;
}
#main #tabs table, #main #tabs table li, #main.rates #main-content table, #main.rates #main-content table li, #main.nonav-page table li {
	line-height: 1.55em;
	color: #333;
}
#main #tabs table tr td, #main.rates #main-content table tr td, #main.nonav-page table tr td {
	border:none;
	padding:10px;
	margin:0px;
	/*font-size:12px;
	font-weight:normal;
	font-weight:bold;*/
	font-size:12px;
	min-width:120px;
}
#main table.ui-datepicker-calendar tr td {

}
#main #tabs table tr, #main.rates #main-content table tr, #main.nonav-page table tr, #main #tabs form table tr:nth-child(1){
	background-color:#dfdfdf;
}
#main #tabs table tr:nth-child(1), #main.rates #main-content table tr:nth-child(1), #main.nonav-page table tr:nth-child(1) {
	font-weight:bold;
	background-color:#6cb33e;
}
#main.nonav-page table tr:nth-child(1) {
	/*background-color: #e78f38;*/
}
#main #tabs table.listTable tr:nth-child(1), #main.rates #main-content table.listTable tr:nth-child(1) {
	font-weight:normal;
}
#main #tabs table.listTable tr td:nth-child(1), #main.rates #main-content table.listTable tr td:nth-child(1) {
	font-weight:bold;
	vertical-align: top;
}
#main #tabs table tr td, #main.rates #main-content table tr td, #main.nonav-page table tr td, #main #tabs form table tr td, #main #tabs form table tr td:nth-child(1){
		text-align: right;
}
#main #tabs table tr td:nth-child(1), #main.rates #main-content table tr td:nth-child(1), #main.nonav-page table tr td:nth-child(1) {
	text-align: left;
}
#main #tabs table tr td:nth-child(1) {
}
#main #tabs table tr td:nth-child(2) {

}
#main #tabs table tr:nth-of-type(even), #main.rates #main-content table tr:nth-of-type(even), #main.nonav-page table tr:nth-of-type(even) {
	background-color:#cac8c8;
}

#main-content table.chartTable, #main-content table.listTable {
	margin:0px 0px 0px;
}

/********** VIDEO THUMB **********/
body.page .video {
    position: relative;
    float:left;
    overflow: auto;
/*    display: inline-block;
*/  
	background-size: cover;
	width: 140px;
    height: 140px;
	cursor:pointer;
}
body.page.page-template-page-templatesfinancial-education-php .vidHolder, body.page-template-page-templatesblogvideo-php .vidHolder{
	position: relative;
	margin:15px 0px 0px;
	clear:both;
	overflow: auto;
}
.vidHolder .copy {
	margin: 0px 0px 0px 10px;
	float: left;
	width: 165px;
	overflow: auto;
	min-height: 115px;
}
.videoentries .vidHolder .copy {
	width:540px;
	overflow: visible;
	min-height: initial;
}
.videoentries section {
	overflow:auto;
	clear:both;
	display: block;
}
.vidHolder .copy a{
	margin-top:5px;
	color:#FFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.vidHolder .copy a:hover{
	text-decoration: none;
}
.vidHolder p{
	font-size: 12px;
	margin-bottom:0px;	
}

body.page.page-template-page-templatesfinancial-education-php .video {
	width:90px;
	height:91px;
	margin:0px;
}
body.page.page-template-page-templatesblogvideo-php .video {
	width:140px;
	height:140px;
	margin:0px;
}

body.page .video span{
	width: 35px;
	height: 35px;
	background: transparent url(../images/sprite.png) -181px 0px no-repeat;
	position: absolute;
	top: 90px;
	right: 190px;
}
body.page.page-template-page-templatesfinancial-education-php .video span{
	top: 27px;
	right: 29px;
}
body.page.page-template-page-templatesblogvideo-php .video span {
	top: 50px;
	right:50px;
}
body.page .video:hover span{
	background-position:-181px -35px;
}

/********** SECTION LANDING PAGE *********/
#main.section-landing-page {
	min-height: 785px;
}
.financialeducation-landing-page section,.section-landing-page section {
	display: inline-block;
	float: left;
	width: 467px;
	height: 126px;
	background: rgb(204,130,36);

	background: -webkit-linear-gradient(top, rgb(204,130,36) 0%, rgb(247,178,93) 100%);
	background: -moz-linear-gradient(top, rgb(204,130,36) 0%, rgb(247,178,93) 100%);
	background: -o-linear-gradient(top, rgb(204,130,36) 0%, rgb(247,178,93) 100%);
	background: -ms-linear-gradient(top, rgb(204,130,36) 0%, rgb(247,178,93) 100%);
	background: linear-gradient(top, rgb(204,130,36) 0%, rgb(247,178,93) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8224', endColorstr='#f7b25d',GradientType=0 );
	border-radius: 4px;
	margin: 0px 5px 5px 0px;
}

.financialeducation-landing-page section {
	width: 306px;
	margin-bottom: 15px;
	height: auto;
	padding: 15px;
}

.section-landing-page section:nth-of-type(even) {
	margin-right:0px;
}
.section-landing-page section h2 {

}
#main.section-landing-page section p, #main.financialeducation-landing-page section p {
	font-size:12px;
	font-weight:bold;
	margin-bottom: 5px;
}
.section-landing-page section div {
	margin:14px 17px;
}
#main.financialeducation-landing-page .info {
	overflow: auto;
}
.financialeducation-landing-page section div {
	overflow: auto;
}
.financialeducation-landing-page .vidHolder h2 {
	margin:0px;

}
/********** INFO PAGE *********/
#content.fix #mainvis {
	position:absolute;/**/
	height:100%;
	background-attachment:fixed;
}
#main.info-page {
	min-height: 785px;
}
div.entry {
	overflow: auto;
}
#main #main-content div.entry p {
	line-height:1.4em;	
}
a.read-more, a.read-less {
 color:#e78f38;
 text-transform:uppercase;
 text-decoration:underline;	
}
a.read-more:hover, a.read-less:hover {
	text-decoration:none;
}

/********** BLOG PAGE *********/

.row.blognav {
	margin:10px 0px;
}
.row.blognav li a{
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	padding:8px 12px;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.post-box #main-content .section img {
	width:140px;
	height:auto;
	float:left;
	padding-right:15px;
}
.post-box #main-content .section .copy {
	width:400px;
	float:left;
	display:inline-block;
}
.post-box #main-content .section .copy.nothumb {
	width: 545px;
}
.post-box #main-content .section {
	clear:both;
	display:block;
}

#main #main-content p.byline {
	color:#e78f38;
	font-weight:bold;
 	margin: 0px 0px 15px;
}
 .post-box #main-content .contributors .section .copy{
 	width: 550px;
 	margin-top: -6px;
 }

#main #main-content  .contributors .section {
 	padding:24px;
 	overflow:auto;
 }

.showhide .hide{
	display:none;
}
.showhide .show {
	display:block;
}


#main #main-content .contributors p {
	margin: -7px 0px 7px 0px;
}
#main #main-content .contributors a{
	color: #e18717;
	text-decoration: underline;
}
#main #main-content .contributors a:hover {
	text-decoration: none;
	color:#000;
}
#main-content .archives {
	padding: 24px 0px 0px 24px;
	overflow: auto;
}
#main-content .archives a{
	color: #000;
	font-size: 12px;
	line-height: 1.15em;
	text-decoration:underline;
}
#main-content .archives a{
	text-decoration: none;
}
#main-content .archives h2{
	margin-bottom:0px;
}
#main-content .archives .one-col ul {
	margin:0px;
	font-size:12px;
	list-style-type: none;
}
#main #main-content .archives .one-col ul li{
	line-height:2.15em;
}
#main-content .archives .one-col {
	display:inline-block;
	float:left;
	width:33%;
}
.row.blognav li a:hover, .row.blognav li.active a, body.archive.category #menu-item-538 a {
	background-color:#e78f38;
}
.page-link{
	margin: 0px;
	padding: 0px 25px 25px;
	font-weight:bold;
}


body.home .page-arrows {
	display:none;
}
.page-arrows {
	position:absolute;	
	top:368px;
	z-index:10000;
	width:100%;
}
.page-arrows div {
	background: rgba(255,255,255,.8);
	width: 40px;
	height:50px;	
	position:absolute;
}
.page-arrows div a {
	display:block;
	text-indent:-10000px;
	width: 12px;
	height:23px;
	background: transparent url(../images/sprite.png) -168px 0px no-repeat;
	text-align:center;
	margin:14px auto 0px;
}
.page-arrows div:hover {
	background:rgba(255,255,255,1);
}
.page-arrows .prev {
	left:0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
.page-arrows .prev a {
	background-position: -168px -22px;
}
.page-arrows .next {
	right:0px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}


/*COLORBOX STYLINGS*/
#cboxLoadedContent {
	border: none;
	background: transparent;
	overflow: hidden !important;
}
.cboxIframe {
	min-height: 357px;
	margin-top:50px;
	background: transparent;
}
body.page-template-page-templatesform-template-php, body.page-template-page-templatesform-template-php .cboxIframe, iframe.cboxIframe body{
	background: transparent;
}
body.page-template-page-templatesform-template-php #cboxTitle{
	display:none;
}
#cboxClose {
	position: absolute;
	padding-top: 9px;
	top: 5px;
	right: 0px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	width: 73px;
	height: 34px;
	border-radius: 4px;
	background: none;
	background-color: #e78f38;
	color: #FFF;
	text-indent: 0px;
	font-size: 11px;
}
#cboxClose:hover {
	background-color:#FFF;
	color:#e78f38;
}
/* LOCATION MAP STYLES*/
.map-controls{
	overflow:auto;
}
.map-app {
	display:inline-block;
	float:right;
	overflow:auto;
	width:186px;
	height:65px;
}
.map-app a{
	width:186px;
	height:65px;
	float: left;
	text-indent: -10000px;
	background: transparent url(../images/gr_locations_app.png) top left no-repeat;

}
.map-widget {

}
.map-widget form#findLoc {
	padding: 13px 0px 0px 15px;
}
.map-widget form#findLoc div.row a.cta {
	padding: 7px 10px 8px 35px;
}
.mapholder {
	overflow: visible;
	width: 730px;
	height: 430px;
	padding-top:20px;
	margin: 0px auto 0px;
}
.mapholder iframe {
	border:none;
}
.mapp-layout {
	margin: 0px auto;
	padding: 0px;
	border: #c5c5c5 solid thin !important;
}
.mapp-iw {
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1em;
	overflow: hidden;
}
.mapp-iw .mapp-body {
	padding-bottom: 0px;
}
.mapp-iw .mapp-title {
	font-weight: bold;
}

.mapp-body .branchaddress {
	font-size: 12px;
	font-weight: normal;
}
.mapp-body .branchinfo {
	width:355px;
	font-size: 11px;
	font-weight: bold;
}
/*MARKETO FORM STYLES*/

.marketoform form {
	margin: 17px auto;
	width: 400px;
	padding: 20px;
	background: #FFF;
}
body.page-id-27 .marketoform form {
	margin: 17px 0px 0px;
	background:transparent;
	padding: 0px;
}
.marketoform form label {
	font-size: 12px;
	color: #000;
	font-size: 12px;
	line-height: 1.55em;
	display: block;
	font-weight: normal;
}
.marketoform table {
	background:none;
	border:none;
	margin:0px;
}
.marketoform table tbody tr td {
	padding:2px;
}
.marketoform table tbody tr:nth-child(even) {
	background:none;

}
.entry-content .marketoform ul {
	list-style-type: none;
	margin-left:1px;
}
.marketoform input[type="text"], .marketoform textarea {
	color:#FFF;
	font-size: 11px;
	font-style: italic;
	margin: 0px 0px 5px;
	/*text-transform: uppercase;*/
	border-radius: 4px;
	background: rgb(68,68,68);
	background: -moz-linear-gradient(top,  rgb(68,68,68) 0%, rgb(44,44,44) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(100%,rgb(44,44,44)));
	background: -webkit-linear-gradient(top,  rgb(68,68,68) 0%,rgb(44,44,44) 100%);
	background: -o-linear-gradient(top,  rgb(68,68,68) 0%,rgb(44,44,44) 100%);
	background: -ms-linear-gradient(top,  rgb(68,68,68) 0%,rgb(44,44,44) 100%);
	background: linear-gradient(to bottom,  rgb(68,68,68) 0%,rgb(44,44,44) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#2c2c2c',GradientType=0 );


}
.marketoform iframe{
	height:286px;
}

#menu-header-navigation .sub-menu {
	display:none;
}
/* NO NAV/LANDING PAGE TEMPLATE STYLES*/
body.page-template-page-templateslp-template-one-php, body.page-template-page-templateslp-template-two-php {
	color:#FFF;
}
#main.nonav-page p, #main.nonav-page ul li {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.55em;
}
#main.nonav-page .twocol {
	overflow: auto;
	padding: 0px 70px;
	margin-top: 23px;
}
#main h2.testimonial {
    font-size: 21px;
    font-weight: 200;
    font-style: italic;
    line-height:1.55em;
}
#main p.testimonial {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
#main.nonav-page p.disclaimer, #main p.disclaimer, #main #tabs p.disclaimer, #main.rates #main-content p.disclaimer {
	font-size:11px;
	font-style: italic;
	color:#888;
}

.twocol .leftcol, .twocol .rightcol {
	width:40%;
}
.twocol .leftcol {
	float:left;
}
.twocol .rightcol {
	float:right;
}
.maparea.whitebox {
	padding:24px;
}
#main.nonav-page .maparea {
	margin-top: 32px;
}
#main.nonav-page .maparea .mapholder {
	overflow: visible;
	width: 900px;
	height: 435px;
	padding-top: 20px;
	margin: 0px auto 0px;
}
#promoslide.whitebox {
	padding:0px;
}

#main.nonav-page #promoslide.whitebox {
	float:left;
}
#main.nonav-page #promoslide .slide{
	overflow: auto;
}
#promoslide div div.copy {
	overflow: auto;
	width:180px;
}
#main.nonav-page .formarea {
	width:382px;
	float: right;
}
#main.nonav-page .marketoform form {
	width:auto;
}
#main.nonav-page a.cta {
	padding-top: 3px;
}
#main.nonav-page #promoslide a.cta {
	padding-top: 7px;
}
#main.nonav-page #promoslide {
	margin: 0 0 40px;
}
#main.nonav-page.template-two #promoslide {
	height:auto;
	margin:0px;
}
#main.nonav-page .phonecallout{
	text-align: center;
	margin:-32px 0px 10px;
	color: #e18717;
	font-size: 26px;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#main.nonav-page.template-two .phonecallout{
	float: right;
	color: #FFF;
	margin: -58px 10px 0px 0px;
}
#main.nonav-page hr {
	background-color:rgba(147,181,229,.5);
	color:rgba(28,48,79,.5);
	height:2px;
	opacity: .7;
}
#main.nonav-page.template-two .whitebox.promoarea {
	overflow:auto;
}
#main.nonav-page.template-two #promoslide div div.copy {
	width: auto;
}
#main.nonav-page.template-two #promoslide .slide {
	height:auto;
}
#main.nonav-page.template-two .promoarea .formholder {
	/*width:630px;
	float:right;*/
	padding-top:20px;
	overflow:auto;
}
#main.nonav-page.template-two .promoarea .formholder h2 {
	color:#e78f38;
}
#main.nonav-page.template-two .promoarea .marketoform form {
	width:400px;
	padding: 0px;
	margin:0px;
}


#main.nonav-page .contentarea article {
	overflow:auto;
}
body.page-template-page-templateslp-template-two-php #main.nonav-page .contentarea  article {
	padding:0px;
}
ul.arrowbullet {
	color:#FFF;
}

ul.bulletlist li {
	color:#FFF;
}
ul.arrowbullet li, ul.bulletlist li {
    list-style-type: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.55em;
}
ul.arrowbullet li ul li{
    list-style-type: disc;
    font-weight: normal;
    font-size: 14px;
    margin-left: 15px;
}
ul.arrowbullet:before, ul.bulletlist li:before {
    width:24px;
    height:24px;
    content:' ';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -327px -49px;
    position: absolute;
    margin: 2px 0px 0px -30px;
}

body.page-template-page-templateslp-template-one-php #footer, body.page-template-page-templateslp-template-two-php #footer {
	overflow:auto;
}
.lpdisclaimer {
	margin-top:100px;
	padding:0px 25px;
}
#main .lpdisclaimer p.disclaimer {
	color:#FFF;
}
