/*
 * INTERNET EXPLORER ONLY ADJUSTMENTS
 */
  body {
	/*overflow-x: hidden;*/
 }

img {
	max-width: none;
}
a.cta, a.cta-overlay, .slider-sidebar.widget-area a.cta, #promoslide a.cta, input[type="submit"].cta, a.bigcta, .callHolder.green a.cta, input[type="submit"].cta, #main .callout p, ul.alerts_widget li span.wp-cpl-date, #main-content span.wp-cpl-date , ul.flyout li a, .nav-bar li ul li a, ul#menu-header-navigation li a, ul.sub-menu li a, .menu-primary-navigation-container > li > a, .nav-bar>li>a, .nav-bar > li > a:first-child, .nav-bar > li.has-flyout > a:first-child, ul.menu li a, #main.nonav-page .phonecallout, .mapp-iw, #main.resourcecenter ul.bulletlist li, #main.resourcecenter .info p, .ui-widget table, #main #tabs table, table.chartTable, table.charttable, #main.rates #main-content table, #main.nonav-page table, #main table,#searchform input[type="text"], #main #tabs.ui-tabs .ui-tabs-nav li a, #main h2, #main p, .breadcrumbs, .breadcrumbs a, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;/**/
}
h4 {
	font-size: 24px;
}
.menu-primary-navigation-container > li > a, .nav-bar>li>a, .nav-bar > li > a:first-child, .nav-bar > li.has-flyout > a:first-child, ul.menu li a {
	padding: 20px 18px;
	font-size: 11px;
}
ul.menu ul.sub-menu li a {
	padding: 0px 4px 4px 19px;
}
ul.menu ul.sub-menu li:last-child a {
	padding: 0px 4px 4px 12px;
}
#mainvis, #homeslide li.slide { 
    background-size: cover !important;
    /* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
}
.menu-primary-navigation-container > li > a, .nav-bar>li>a, .nav-bar > li > a:first-child, .nav-bar > li.has-flyout > a:first-child, ul.menu li a {
	font-size: 11px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;/**/
}
#main h2, #main p, .breadcrumbs, .breadcrumbs a {
	font-size: 21px;
}

/*{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');	
}
*/
.sub-menu.sub div.row:after, #homeslide .slide .callout, a.cta, a.cta-overlay, .slider-sidebar.widget-area a.cta, #promoslide a.cta, input[type="submit"].cta, a.bigcta, .callHolder.green a.cta, input[type="submit"].cta, #promoslide.flexslider, #promoslide .flex-control-nav, .whitebox, #main.info-page #main-content, #main.info-page .secondary-right-sidebar {
/*    behavior: url(/ie-css3.htc);
    -ms-behavior: url(/ie-css3.htc);
*/}

#main #main-content {
	width:578px;
}
.post-box #main-content .section .copy {
	width:385px;
}
#main.info-page .secondary-right-sidebar {
	width:175px;
}
#main.info-page #main-content{
	/*    height:99%;
	box-shadow:  none;
	behavior: url(/PIE.php);*/
}
#main.rates #main-content {
    box-shadow:  none;
}

#homeslide .slide .callout {
	border-radius: 5px;
	background: #EF7817;
	filter: alpha(opacity=90);
	box-shadow: none;
	margin-bottom: 10px;
}
#homeslide .slide .callHolder.green .callout {
	background: #6AB23A;
	filter: alpha(opacity=90);
}
a.cta, a.cta-overlay, .slider-sidebar.widget-area a.cta, #promoslide a.cta, input[type="submit"].cta, a.bigcta, .callHolder.green a.cta, input[type="submit"].cta {
	border-radius: 4px;
	box-shadow: 0px 1px 1px 0px #000;
   	background: #8DCA5F;
   	filter:none;
}
.callHolder a.cta {
	filter:none;
}
a.cta:before, a.cta-overlay:before, .callHolder.green a.cta:before, input[type="submit"].cta:before, a.bigcta:before {
	border-right: #31941F solid thin;
}
a.cta:after, a.cta-overlay:after, .slider-sidebar.widget-area a.cta:after, #promoslide a.cta:after, input[type="submit"].cta:after, .callHolder.green a.cta:after, input[type="submit"].cta:after, a.bigcta:after {
    border-left:#A7D268 solid thin;
}
.callHolder a.cta:before {
    border-right:#B12C0C solid thin;
}
.callHolder a.cta:after {
    border-left:#E6AA38 solid thin;
}
.roundedCorners {
	border-radius: 4px;
}

#main.info-page .secondary-right-sidebar {
	z-index: 0;
}
#main.info-page .post-box {
	height: auto;
}
#main #main-content.nowidget {
	width: 759px;
	padding-right: 25px;
}
#container .siteloader {
	display:none;
}
.menu-primary-navigation-container ul li.mega-hover:nth-child(1), ul.menu li.mega-hover:nth-child(1) {
	behavior: url(/PIE.htc);
}
.widget .row {
	width:auto;
	min-width: initial;
	max-width: initial;
}
.mainnav {
	min-width:500px;
}
#defaultmap_poi_list span{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/sprite.png', sizingMethod='scale');
	background:none !important;
}
body.single #content, body.events-single #content {
	overflow: visible;
}
#main.feclasses.nonav-page .post-box {
	overflow: visible;
	height:auto;
	clear: both;
}
#main.feclasses.nonav-page .promoarea{
	overflow: auto;
	float: left;
}
ul.inline-list>li, ul.link-list>li {
	/*margin-left: 0px;*/
	float:left;
	display: inline;
}

