/*
 * INTERNET EXPLORER ONLY ADJUSTMENTS
 */
 body.page-template-page-templatesmobile-home-page-php #content {
 	margin-bottom:0px;
 	border-bottom:none;
 }
#secondary #column2, .columntwo {
	margin:0px auto;
	width:100%;
}
#secondary {
	width: auto;
}
header#nav-header {
	min-width: initial;
	z-index: 100;
	margin:23px auto -156px;
}
a.header-image {
	margin-left: 20px;
}
#secondary aside.widget {
	display: block;
	margin: 0px auto;
}
#secondary aside#execphp-7.widget, #secondary aside.widget_execphp.widget {
	margin: 20px auto 40px;
}
#promoslide {
	margin:0px auto 20px;
}
#homeslide li.slide .calloutArea {
	overflow:auto;
	margin:0px auto;
}
#homeslide .slide .callHolder {
	margin:0px auto;
	left:initial;
	top:initial;
	overflow: auto;
	position:initial;
}
#homeslide .slide .callout {
	width: auto;
	margin:0px auto -5px;
	text-align: center;

	position:absolute;
	bottom:0px;
	left: 10%;
	right: 10%;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
@media screen and (max-width:860px) and (min-width:500px){
	#homeslide .slide .callHolder {
		position:relative;
		overflow:visible;
	}
	#homeslide .slide .callout {
		width: auto;
		margin:0px auto -5px;
		text-align: center;

		position:relative;
		bottom:initial;
		left: initial;
		right: initial;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-o-border-radius: 0px;
		border-radius: 0px;
	}
}

#homeslide li.slide {
	height: auto;
	
}
#homeslide.flexslider {
	margin-bottom: 40px;
}
#main .callout {
	padding:18px 0px;
}
#main .callout p {
	padding:0px;
	font-size:1.7em;
	font-weight:bold;
}
#main .callout a {
	color:#FFF;
	text-decoration: underline;
	font-size:1.7em;
	font-weight:normal;
}
/*PROMO SLIDER*/
body.page-template-page-templatesmobile-home-page-php #secondary #promoslide .flex-control-nav, #secondary #promoslide .flex-control-nav{
	width: 243px;
}
body.page-template-page-templatesmobile-home-page-php #secondary #promoslide li.slide .imgHolder, #secondary #promoslide li.slide .imgHolder {
	position: relative;
	margin: 0px auto;
	width: 237px;
	float:left;
	/*height: 200px;*/
}
#promoslide li div.copy, #promoslide div div.copy {
	margin: 14px;
	float: left;
	overflow: auto;
}
#secondary #promoslide.flexslider {
	width: 243px;
	min-height: 360px;
	margin: 0px auto 30px;
}
#secondary aside.widget_tribe_widget_builder_139, #secondary aside.widget_tribe_widget_builder_140 {
	background: rgb(240,240,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(235,235,235) 50%, rgb(209,209,209) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(235,235,235)), color-stop(98%,rgb(209,209,209))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* IE10+ *//**/
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* W3C */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin:0px auto 20px;
}

#secondary aside.widget_tribe_widget_builder_139 h4.widget-title, #secondary aside.widget_tribe_widget_builder_140 h4.widget-title {
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 10px 0px 10px;
}

#secondary aside.widget_tribe_widget_builder_139 a, #secondary aside.widget_tribe_widget_builder_140  a {
	font-size: 10px;
	color: #4b4b4b;
}
aside.widget_tribe_widget_builder_139 input[type="text"], aside.widget_tribe_widget_builder_140 input[type="text"] {
	font-size: 12px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #e78f38;
	width: 150px;
	height: 34px;
	color: #FFF;
	font-weight: bold;
	font-style: italic;
	letter-spacing: .1em;
	margin: 0px;
	padding: 4px;
}
#secondary aside.widget_tribe_widget_builder_139 a.cta, #secondary aside.widget_tribe_widget_builder_140 a.cta {
	font-size:13px;
}
aside.widget.widget_tribe_widget_builder_139, aside.widget.widget_tribe_widget_builder_140 {
	width: 250px;
}
aside.widget.widget_tribe_widget_builder_139 h4, aside.widget.widget_tribe_widget_builder_140 h4, aside.widget.widget_tribe_widget_builder_139 form, aside.widget.widget_tribe_widget_builder_140 form, aside.widget.widget_tribe_widget_builder_139 a, aside.widget.widget_tribe_widget_builder_140 a, #secondary aside.widget.widget_tribe_widget_builder_139 a.cta, #secondary aside.widget.widget_tribe_widget_builder_140 a.cta, aside.widget_tribe_widget_builder_139 input[type="text"] {
	font-size: 120%;
}
.social {
	display: block;
	overflow: auto;
	margin: 0px auto 15px;
	width: 105px;
}
.row.forgot {
	margin: -12px 10px 0px;
}
.widget_tribe_widget_builder_140 div.row.links {
	margin-top: 0px;
	line-height: .5em;
}
.returntodesktop {
	text-align: center;
	padding:0px 0px 15px;
}
.returntodesktop a {
	color:#222;
	font-size: 12px;
	padding:10px;
	text-transform: uppercase;
	font-weight:bold;
}
.returntodesktop a:hover {
	text-decoration: underline;
}
#footer #legal-copy p {
	width: auto;
}
/*
	NAVIGATION
*/
nav#access {
	position: absolute;
	top: 63px;
	left: 220px;
	max-width: 150px;
}

ul.menu li a, #dc_jqmegamenu_widget-3 h4, ul.sub-menu.sub li a, ul.menu ul.sub-menu li:last-child a {
	padding: 10px 0px 10px 8px;
	vertical-align: middle;
	font-size: 11px;
	text-transform: uppercase;
	color: #5a3910;
	font-family: "proxima-nova",Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	background: none;
	display: block;
}
ul.menu li a:hover, ul.sub-menu.sub li a:hover, ul.menu ul.sub-menu li:last-child a:hover {
	color:#FFF;
}
 ul.menu li.mega-hover:hover {
 	background-color:transparent;
 }

.sub-container.non-mega ul.sub-menu.sub {
	width: auto;
	padding: 0px;
}
.sub-container.non-mega {
	overflow:auto;
	background: #fcc98a;
	background: -moz-linear-gradient(top, #fcc98a 0%, #e2891b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcc98a), color-stop(100%,#e2891b));
	background: -webkit-linear-gradient(top, #fcc98a 0%,#e2891b 100%);
	background: -o-linear-gradient(top, #fcc98a 0%,#e2891b 100%);
	background: -ms-linear-gradient(top, #fcc98a 0%,#e2891b 100%);
	background: linear-gradient(to bottom, #fcc98a 0%,#e2891b 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	z-index: 1000;
}
ul.menu li, ul.sub-menu.sub li {
	border:none;
	padding:0px;
	margin:0px;
	border-bottom: #ebc99e 1px solid;
	border-top: #d07e17 1px solid;
	width:100%;
	display:block;
}
.menu li, ul.sub-menu.sub li {
	height:auto;
}
.menu li:last-child, ul.sub-menu.sub li:last-child {
	border-bottom:none;
}

.menu li:first-child, ul.sub-menu.sub li:first-child {
	border-top:none;
}
ul.menu li a.dc-mega {
	display:inline-block;
	background: rgb(240,240,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(235,235,235) 50%, rgb(209,209,209) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(235,235,235)), color-stop(98%,rgb(209,209,209))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* IE10+ *//**/
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(235,235,235) 50%,rgb(209,209,209) 98%); /* W3C */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding:12px;
}
ul.menu li.mega-hover a.dc-mega {
	display:inline-block;
	background: #fcc98a;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	padding:12px;
	margin-bottom:-3px;
	z-index: 1;
}
/*
	CONTACT US
*/
#main #main-content.nowidget {
	width: 100%;
	margin: 0px auto 30px;
}
.post-box {
	width: 95%;
	margin: 0px auto;
	position: relative;
}
.row {
	width: auto;
}
#mainvis {
	min-width: inherit;
}
ul#menu-mobile-rates {
	width: 200px;
	position: absolute;
}
#main.rates.mobile .info {
	margin-top:65px;
}
#main #tabs table, #main.rates #main-content table, #main table.chartTable, #main table.listTable {
	width: 90%;
}
.mapp-poi-list { 
	position: relative;
	top:initial;
	width: 375px !important;
}
.mapholder {
	width: 100%;
}
form#findLoc {
	width: 308px;
}
.map-widget {
	width: 350px;
}
.map-status {
	position:relative;
	padding:0px 0px 15px;
	width:600px;
	overflow: auto;
}

.map-status .branchinfo img, .map-status .branchaddress img{
	width: 170px;
	height: auto;
	position: relative;
	top: inherit;
	right: inherit;
	clear:both;
	overflow: auto;
}
.map-status .branchaddress, .map-status p {
	float:left;
	clear:both;
	margin: 0px;
	line-height: 1em;
	font-size: 12px;
	font-weight: normal;
}
.map-status .branchinfo p, .map-status .branchaddress p {
	margin:0px 0px 10px;
}
.map-status .branchinfo {
	font-size: 11px;
	font-weight: bold;
	overflow: auto;
	float:none;
	clear:both;
	margin: 0px;
}
.map-app {
	display: block;
	float: none;
	overflow: visible;
	width: 186px;
	height: 65px;
	margin: 0px 0px 15px;
}